# Created by .ignore support plugin (hsz.mobi)
### Java template
*.class
#*.exe
**/log
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.idea
.target
.iml
*.eml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ignore any target folder
target

#Others
.settings
.project
hybrid-test-framework.iml
.html
*.iml
bin
API/htf-wdl-model/.classpath
.idea/workspace.xml
.idea/com.serenity.poc.iml
.idea/misc.xml
com.serenity.poc.iml
pom.properties